body{
background: sienna;
font: normal 15pt arial;
}
header { text-align: center;
    color: rgb(59, 2, 100);

}
section{
background: tan;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 7px 7px 10px rgb(59, 2, 100);
}
footer{
    color: rgb(252, 220, 44);
    text-align: center;
    font-style: italic;

}div{
    text-align: center; padding: 7px;
}